/*styling for youth page*/

h1{
    padding: 10px 0px;
}
p{
    padding: 10px 0px;
    
}


.topImg{
    overflow: hidden;
    /* width: 100%; */ 
    text-align: center; 
    padding-bottom: 20px;
}

#topImg{
    object-fit: cover;
}

@media(max-width: 900px){
    #sideImg{
        width: 32%;
        padding: 1%;
    }
}